<section id="resume" class="sect-pt2 mt-5">
  <div class="container my-md-2 mx-auto">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h2></h2>
      </div>

      <div class="mt-5 row justify-content-center">
        <div class="col-sm-12">
          <form class="col-md-12 d-flex justify-content-end" role="search">
            <div class="d-flex my-3">
              <input
                class="form-control"
                id="myInput"
                type="text"
                placeholder="Search.."
              />
              <button class="btn btn-outline-success" type="submit">
                Search
              </button>
            </div>
          </form>
          <table class="table thead-light table-striped">
            <thead>
              <tr>
                <th scope="col">Username</th>
                <th scope="col">FirstName</th>
                <th scope="col">LastName</th>
                <th scope="col">Email</th>
                <th scope="col">BirthDate</th>
                <th scope="col">BasicSalary</th>
                <th scope="col">Status</th>
                <th scope="col">Group</th>
                <th scope="col">Description</th>
                <th scope="col" class="text-center">Action</th>
              </tr>
            </thead>
            <tbody id="myTable">
              <tr *ngFor="let employee of employee">
                <td>{{ employee.username }}</td>
                <td>{{ employee.firstName }}</td>
                <td>{{ employee.lastName }}</td>
                <td>{{ employee.email }}</td>
                <td>{{ employee.birthDate }}</td>
                <td>{{ employee.basicSalary }}</td>
                <td>{{ employee.status }}</td>
                <td>{{ employee.group }}</td>
                <td>{{ employee.description }}</td>
                <td class="text-center">
                  <a type="button" class="btn" routerLink="/guest-book/edit/">
                    <i class="bi bi-pencil-square text-white"></i>
                  </a>
                  <a type="button">
                    <!-- (click)="onDelete(employeeid)" -->
                    <i class="bi bi-trash3 text-danger"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
          <nav aria-label="Page navigation example">
            <ul class="pagination">
              <li class="page-item">
                <a class="page-link" routerLink="" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
              <li class="page-item">
                <a class="page-link" routerLink="">1</a>
              </li>
              <li class="page-item">
                <a class="page-link" routerLink="">2</a>
              </li>
              <li class="page-item">
                <a class="page-link" routerLink="">3</a>
              </li>
              <li class="page-item">
                <a class="page-link" routerLink="" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</section>
<script>
  $(document).ready(function () {
    $("#myInput").on("keyup", function () {
      var value = $(this).val().toLowerCase();
      $("#myTable tr").filter(function () {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
      });
    });
  });
</script>
